{% extends 'base.html'%} {% block content %}
<!-- {{api.coins.0.item.name}} -->
<style>
  .container-coin {
    display: flex;
    flex-wrap: wrap;
    margin:20px;
    
  }
  .card{
     
      margin: 20px;

  }
 
</style>

<!-- top jumbotron -->
<div class="jumbotron">
  <center><h1 class="display-4"><b>Crypto world!</b> </h1></center>
  <br>
  <div class="no" style="margin-left:7% ;"><h3>Live Chart</h3></div>
</div>

  <br>
</div>

<div class="contain-table" style=" width:80rem;margin-left:5%">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Coin</th>
        <th scope="col">Current Price</th>
        <th scope="col">Market_cap</th>
        <th scope="col">high_24h</th>
        <th scope="col">low_24h</th>
      </tr>
    </thead>
    <tbody>
      {%for y in api_hist %}
      <tr>
        <td>{{y.name}}</td>
        <td>{{y.current_price}}</td>
        <td>{{y.market_cap}}</td>
        <td>{{y.high_24h}}</td>
        <td>{{y.low_24h}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>


<div class="container-coin">
  {% for x in api.coins %}

  <div class="card" style="width: 10rem">
    <img src="{{x.item.large}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h3 class="card-title">{{x.item.name}}</h3>
      <h6 class="card-price">Market-cap-rank:-{{x.item.market_cap_rank}}</h6>
      <h6 class="card-price">Price:-{{x.item.price_btc}}</h6>
    </div>
  </div>

  

  {% endfor %}

  
{% endblock %}
